.brown-bg {
  background-color: #2d1403;
  padding: 2rem 0;
  margin: 0 -12px;
  border-radius: 8px;
}

@media (max-width: 1400px) {
  .blurframe1 {
    bottom: 1% !important;
    left: 0.5% !important;
    right: 2% !important;
  }
  .blurframe2 {
    bottom: 2% !important;
    left: 3% !important;
    right: 4% !important;
  }
  .blurframe3 {
    bottom: 1.5% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
}
@media (max-width: 1200px) {
  .blurframe1 {
    bottom: 0% !important;
    left: 0% !important;
    right: 2% !important;
  }
  .blurframe2 {
    bottom: 0% !important;
    left: 2.5% !important;
    right: 3.5% !important;
  }
  .blurframe3 {
    bottom: 0% !important;
    left: 2.5% !important;
    right: 3.5% !important;
  }
}
@media (max-width: 992px) {
  .blurframe1 {
    bottom: -1.5% !important;
    left: -0.5% !important;
    right: 1% !important;
  }
  .blurframe2 {
    bottom: -3% !important;
    left: 2% !important;
    right: 3% !important;
  }
  .blurframe3 {
    bottom: -3% !important;
    left: 2% !important;
    right: 3% !important;
  }
}
@media (max-width: 768px) {
  .blurframe1 {
    bottom: 0.5% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
  .blurframe2 {
    bottom: 1% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
  .blurframe3 {
    bottom: 1% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
}
@media (max-width: 509px) {
  .blurframe1 {
    bottom: 0% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
  .blurframe2 {
    bottom: 0% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
  .blurframe3 {
    bottom: 0% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
}
@media (max-width: 440px) {
  .blurframe1 {
    bottom: -0.5% !important;
    left: 2% !important;
    right: 4% !important;
  }
  .blurframe2 {
    bottom: -1% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
  .blurframe3 {
    bottom: -1% !important;
    left: 2.5% !important;
    right: 4% !important;
  }
}
@media (max-width: 396px) {
  .blurframe1 {
    bottom: -1% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
  .blurframe2 {
    bottom: -2% !important;
    left: 2.5% !important;
    right: 3.5% !important;
  }
  .blurframe3 {
    bottom: -2% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
}
@media (max-width: 350px) {
  .blurframe1 {
    bottom: -2% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
  .blurframe2 {
    bottom: -4% !important;
    left: 2.5% !important;
    right: 3.5% !important;
  }
  .blurframe3 {
    bottom: -3% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
}
@media (max-width: 315px) {
  .blurframe1 {
    bottom: -3% !important;
    left: 1.5% !important;
    right: 3% !important;
  }
  .blurframe2 {
    bottom: -5% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
  .blurframe3 {
    bottom: -4% !important;
    left: 2% !important;
    right: 3.5% !important;
  }
}/*# sourceMappingURL=block-two.css.map */