.navbar {
    color: wheat;
    max-width: 1520px;
    width: 100%;
}

.text_in_nav {
    font-size: 14px !important;
}
.nav-link {
    margin: 10pt;
    color: #fff;
    font-size: 14px !important;
}

